body
	margin: 0
	background: #0cf
	font-family: sans-serif
	color: yellow
	text-transform: uppercase
	text-shadow: 1px 1px 0 black
	font-size: 22px

.score_box
	width: 150px
	height: 30px
	border: 1px solid white
	margin: 5px
	float: left
.score_box.true
	background: blue

.message
	clear: both

.dice
	text-align: center
	font-size: 30px
	float: left
	margin: 5px
	width: 100px
	height: 100px
	background: white
	color: black
	border-radius: 15px
	box-shadow: 0 4px 1px black;
.hold
	box-shadow: 0 4px 1px red;
.wild
	box-shadow: 0 4px 1px yellow;