body
	margin: 0
	background: #f0c // #0fc
	font-family: sans-serif
	color: #0cf
	text-transform: uppercase
	font-weight: bold
	text-shadow: 1px 1px 0 #c0f
	font-size: 22px

.score_box
	width: 150px
	height: 30px
	border: 2px solid #0cf
	box-shadow: 1px 1px 2px black
	margin: 5px
	line-height: 31px
	float: left
	padding-left: 4px
	background: #0cf
.score_box.true
	background: #f0c

.message
	clear: both

button
	margin: 10px
	width: 90px
	height 90px
	font-size 20px

.dice
	text-align: center
	font-size: 30px
	float: left
	margin: 5px
	width: 90px
	height: 90px
	background: white
	color: black
	border-radius: 15px
	box-shadow: 0 4px 1px black
	padding: 3px
.hold
	box-shadow: 0 4px 1px red
.wild
	box-shadow: 0 4px 1px yellow

.cell
	background: black
	border-radius: 50%
	width: 24px
	height: 24px
	float: left
	margin: 3px